//////////////////////// Variables //////////////////////////////

// Colors
$j-teal: #199989;
$j-blue: #2f40c4;
$j-pink: #e18dac;
$j-yellow: #f9cc50;
$j-red: #d33f49;
$j-plum: #a4026f;
$j-gray: #f3f3f3;

$j-pink-darker: #e086a7;
$j-yellow-hover: #f5ba1c;

// Fonts
$j-report: report, sans-serif;
$j-neue: neue-haas-unica, sans-serif;

// Opacities
$j-light-opacity: .4;
$j-dark-opacity: .7;

// Cursors
$j-default: url('../../public/cursors/default.svg');
$j-pointer: url('../../public/cursors/pointer.svg');

// Sizes
:root {
  --header: #{80px};
}

@media only screen and (max-width: 700px) {
  :root {
    --header: #{70px};
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --header: #{60px};
  }
}

///////////////////////// Styles /////////////////////////////

// Horizontal line
hr {
  width: 100%;
  margin: 0;
  border: 1.5px solid $j-yellow;
}

// In Progress (Temporary)
.in-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100% - var(--header));
  padding: 30px;
  color: $j-teal;
  font-size: 40px;
  text-align: center;
  box-sizing: border-box;
}

