//////////////////////// Variables //////////////////////////////

// Colors
$j-teal: #199989;
$j-blue: #2f40c4;
$j-pink: #e18dac;
$j-yellow: #f9cc50;
$j-red: #d33f49;
$j-plum: #a4026f;
$j-purple: #523b7f;
$j-gray: #f3f3f3;

$j-pink-darker: #e086a7;
$j-yellow-hover: #f5ba1c;

// Fonts
$j-report: report, sans-serif;
$j-neue: neue-haas-unica, sans-serif;

// Opacities
$j-light-opacity: .4;
$j-dark-opacity: .7;

// Cursors
$j-default: url('../../public/svgs/default.svg');
$j-pointer: url('../../public/svgs/pointer.svg');

// Sizes
:root {
  --header: #{80px};
}

@media only screen and (max-width: 700px) {
  :root {
    --header: #{70px};
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --header: #{60px};
  }
}

///////////////////////// Styles /////////////////////////////

// Cursor
a {
  cursor: $j-pointer, pointer;
}

a.button,
button,
label {
  cursor: $j-default, default;
}

// Horizontal line
hr {
  width: 100%;
  height: 3px;
  margin: 0;
  border: unset;
  background: $j-yellow;
}

// In Progress (Temporary)
.in-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100% - var(--header));
  padding: 30px;
  color: $j-teal;
  font-size: 40px;
  text-align: center;
  box-sizing: border-box;
}

// Resource
section.resource {
  width: 100%;
  padding: 10px 40px 40px;
  
  @media only screen and (max-width: 600px) {
    padding: 10px 30px 30px;
  }
  

  div.description {
    padding-bottom: 60px;
    box-sizing: border-box;

    h1 {
      margin-bottom: 10px;
      font-size: 40px;
      font-weight: 500;
    }

    p {
      font-size: 20px;
      font-weight: 300;
    }
  }
}

// Button
.button {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 17px;
  transition: scale .2s, background-color .2s, border-color .2s, box-shadow .2s;
  border: 1.5px solid #000;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  scale: 1;
  box-shadow: 0 0 0 #000;

  @media (hover: hover) {
    &:hover {
      border-color: #dfad22;
      background-color: $j-yellow;
      scale: 1.06;
    }
  }

  img {
    width: 14px;
    margin-right: 5px;
  }
}

code {
  background: $j-gray;
}