@import 'common';

body {
  margin: 0;
}

main {
  display: flex;
  position: relative;
  top: 70px;
  width: 100%;
}

//////////////////////// header ////////////////////////

header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 8px;
  background: #fff;
  box-shadow: 0 4px 28px 0 #00000040;
  z-index: 1;
  box-sizing: border-box;

  a {
    display: flex;

    img {
      width: 50px;
      cursor: pointer;
      z-index: 2;
    }
  }

  nav {
    position: fixed;
    left: 0;
    width: 100%;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: unset;
      pointer-events: none;

      &:hover > li a {
        font-size: 23px;
      }
    }

    li {
      margin: 0 4%;
      font-family: $j-sofia;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      list-style-type: none;

      a {
        transition: text-decoration-color .5s, letter-spacing .5s, font-size .5s;
        transition-timing-function: ease;
        color: inherit;
        letter-spacing: 0;
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-color: rgba(0, 0, 0, 0);
        pointer-events: auto;

        &:hover {
          letter-spacing: 1.5px;
          font-size: 25px !important;
          text-decoration-color: rgba(0, 0, 0, 0.4);
          cursor: pointer;
        }
        &.active {
          text-decoration-color: #000;
        }
      }
    }
  }
}
