body {
  margin: 0;
}

main {
  position: relative;
  display: flex;
  top: 70px;
  width: 100%;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 70px;
  padding: 8px;
  z-index: 1;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 4px 28px 0px rgba(0, 0, 0, 0.2509803922);
  background: white;
}
header a {
  display: flex;
}
header a img {
  width: 50px;
}
header nav {
  position: fixed;
  left: 0;
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: center;
  padding: unset;
}
header nav li {
  list-style-type: none;
  margin: 0 4%;
  font-size: 25px;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
header nav li:hover, header nav li.selected {
  text-decoration: underline;
  text-underline-offset: 8px;
  cursor: pointer;
}

section.glazes {
  width: 100%;
  margin-right: 0;
  transition: margin-right 1s;
}
section.glazes .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, max-content));
  justify-content: space-evenly;
  width: 96%;
  padding: 2%;
  pointer-events: none;
}
section.glazes .container img {
  justify-self: center;
  width: 190px;
  min-height: 190px;
  margin: 35px 15px;
  padding: 15px 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  pointer-events: auto;
  transition: opacity 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.08, 0.97);
}
section.glazes .container img:hover {
  opacity: 100%;
  cursor: pointer;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

aside.sidebar {
  position: fixed;
  right: -400px;
  width: 400px;
  height: calc(100vh - 70px);
  background: #F3F3F3;
  font-family: "sofia-pro";
  overflow-y: auto;
  transition: right 1s;
}
aside.sidebar .container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}
aside.sidebar .container button.close-button {
  position: fixed;
  top: 80px;
  right: -45px;
  width: 30px;
  padding: unset;
  opacity: 40%;
  background: unset;
  border: none;
  color: black;
  font-family: Arial Rounded MT Bold;
  font-size: 30px;
  transition: opacity 0.2s, right 1s;
}
aside.sidebar .container button.close-button:hover {
  opacity: 70%;
  cursor: pointer;
}
aside.sidebar .container img {
  width: 200px;
  align-self: center;
  padding-bottom: 30px;
}
aside.sidebar .container h2 {
  padding-left: 15px;
  padding-bottom: 4px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 22px;
  background: black;
  color: white;
}
aside.sidebar .container p, aside.sidebar .container table {
  margin: 0;
  padding-left: 12px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
}
aside.sidebar .container .recipe tr.add {
  display: block;
  margin-top: 10px;
  font-size: 15px;
}

main.aside-enabled section.glazes {
  margin-right: 400px;
}
main.aside-enabled section.glazes .container img.selected {
  opacity: 100%;
  cursor: pointer;
  border-bottom: 4px solid black;
}
main.aside-enabled section.glazes .container img:hover {
  opacity: 100%;
  cursor: pointer;
}
main.aside-enabled aside.sidebar {
  right: 0;
}
main.aside-enabled aside.sidebar button.close-button {
  right: 355px;
}

/*# sourceMappingURL=glazes.css.map */
