@import 'common';

//////////////////////// glazes ////////////////////////

section.glazes {
  width: 100%;
  margin-right: 0;
  transition: margin-right 1s;

  .container {
    display: grid;
    justify-content: space-evenly;
    width: 96%;
    padding: 2%;
    grid-template-columns: repeat(auto-fit, minmax(240px, max-content));

    button {
      border: unset;
      background-color: unset;

      img {
        width: 190px;
        min-height: 190px;
        margin: 35px 15px;
        padding: 15px 0;
        transition: opacity .5s, border-bottom .7s, scale .5s;
        transition-timing-function: cubic-bezier(0, 0, .08, .97);
        border-bottom: 4px solid rgba(0, 0, 0, 0);
        justify-self: center;
        scale: 1;

        &:hover {
          cursor: $j-pointer, pointer;
          scale: 1.1;
        }
      }
    }
  }
}

//////////////////////// sidebar ////////////////////////

aside.sidebar {
  position: fixed;
  right: -400px;
  width: 400px;
  height: calc(100vh - 70px);
  transition: right 1s;
  background: $j-gray;
  font-family: 'sofia-pro';
  overflow-y: auto;

  .container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;

    button.close-button {
      position: fixed;
      top: 80px;
      right: -45px;
      width: 30px;
      padding: unset;
      transition: opacity .2s, right 1s;
      border: 0;
      background: unset;
      color: #000;
      font-family: $j-arial;
      font-size: 30px;
      opacity: $j-light-opacity;

      &:hover {
        cursor: $j-pointer, pointer;
        opacity: $j-dark-opacity;
      }
    }

    img {
      align-self: center;
      width: 200px;
      padding-bottom: 30px;
    }

    h2 {
      padding-bottom: 4px;
      padding-left: 15px;
      border-radius: 20px;
      background: #000;
      color: #fff;
      font-size: 22px;
      font-weight: 400;
    }

    p,
    table {
      margin: 0;
      padding-bottom: 10px;
      padding-left: 12px;
      font-size: 20px;
      font-weight: 300;
    }

    .recipe tr.add {
      display: block;
      margin-top: 10px;
      font-size: 15px;
    }
  }
}

//////////////////////// sidebar positioning ////////////////////////

main.aside-enabled {
  section.glazes {
    margin-right: 400px;

    .container img.selected {
      border-bottom: 4px solid #000;
      cursor: $j-pointer, pointer;
    }

    .container img:hover {
      cursor: $j-pointer, pointer;
    }
  }

  aside.sidebar {
    right: 0;

    button.close-button {
      right: 355px;
    }
  }
}

//////////////////////// media queries ////////////////////////

@media only screen and (max-width: 500px) {
  section.glazes .container {
    grid-template-columns: repeat(auto-fit, minmax(170px, max-content));

    button img {
      width: 150px;
      min-height: 150px;
      margin: 25px 5px;

      &:hover {
        border-bottom: 4px solid rgba(0, 0, 0, 0);
      }
    }
  }

  aside.sidebar {
    right: -100%;
    width: 100%;

    .container button.close-button {
      right: -12%;
    }
  }

  main.aside-enabled {
    section.glazes {
      margin-right: 0;

      .container img.selected {
        border-bottom: 4px solid rgba(0, 0, 0, 0);
      }
    }

    aside.sidebar {
      right: 0;

      button.close-button {
        right: 88%;
      }
    }
  }
}
