@import 'common';

section.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 70px);

  img.icon {
    position: absolute;
    height: calc(17vh + 6vw);
    animation-duration: 3s;
    animation-iteration-count: infinite;

    &.teapot {
      &.filled {
        top: 35px;
        left: 40px;
        animation-name: filled-icon;
      }

      &.outline {
        top: 45px;
        left: 30px;
        animation-name: outline-icon;
      }
    }

    &.vase {
      &.filled {
        right: 50px;
        bottom: 40px;
        animation-name: filled-icon;
      }

      &.outline {
        right: 40px;
        bottom: 30px;
        animation-name: outline-icon;
      }
    }
  }

  h1 {
    width: 810px;
    margin-top: 0;
    margin-bottom: 30px;
    transition: letter-spacing 1s;
    transition-timing-function: ease;
    font-family: $j-arial;
    font-size: 130px;
    letter-spacing: 0;
    text-align: center;
    cursor: default;
    z-index: 1;

    &:hover {
      letter-spacing: 4px;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: unset;
    z-index: 1;

    li {
      margin: 0 10px;
      list-style-type: none;


      a {
        display: block;
        width: 200px;
        padding: 5px 0;
        transition: letter-spacing .5s;
        transition-timing-function: ease;
        border-radius: 30px;
        background-color: $j-yellow;
        color: inherit;
        font-family: $j-sofia;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        text-align: center;
        text-decoration: unset;
        text-underline-offset: 8px;

        &:hover {
          background-color: $j-yellow-hover;
          letter-spacing: 1.5px;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes filled-icon {
  0%   {rotate: 0deg}
  50%  {rotate: 10deg}
  100% {rotate: 0deg}
}

@keyframes outline-icon {
  0%   {rotate: 5deg}
  50%  {rotate: -5deg}
  100% {rotate: 5deg}
}
