@import 'common';

section.home {
  display: grid;
  width: 100vw;
  height: calc(100vh - 70px);

  h1 {
    width: 810px;
    margin: auto;
    transition: letter-spacing 1s;
    transition-timing-function: ease;
    font-family: $j-arial;
    font-size: 130px;
    letter-spacing: 0;
    text-align: center;
    cursor: default;

    &:hover {
      letter-spacing: 4px;
    }
}

  img.icon {
    position: absolute;
    height: 27vh;
    animation-duration: 3s;
    animation-iteration-count: infinite;


    &.teapot {
      &.filled {
        top: 70px;
        left: 40px;
        animation-name: filled-icon;
      }

      &.outline {
        top: 90px;
        left: 30px;
        animation-name: outline-icon;
      }
    }

    &.vase {
      &.filled {
        top: 62vh;
        right: 50px;
        animation-name: filled-icon;
      }

      &.outline {
        top: 63vh;
        right: 40px;
        animation-name: outline-icon;
      }
    }
  }
}

@keyframes filled-icon {
  0%   {rotate: 0deg}
  50%  {rotate: 10deg}
  100% {rotate: 0deg}
}

@keyframes outline-icon {
  0%   {rotate: 5deg}
  50%  {rotate: -5deg}
  100% {rotate: 5deg}
}
