@import 'common';

section.resources {
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0;

    div.parent {
      display: table;
      position: relative;
      width: 85%;
      max-width: 1400px;
      height: 220px;
      margin: 1.5% auto;
      transition: scale .5s;
      border-width: 3px;
      border-style: solid;
      border-radius: 23px;
      scale: 1;

      &.index-0 {
        border-color: $j-teal;
        background-color: $j-teal;
        box-shadow: 10px 10px rgba($j-teal, .7);
      }

      &.index-1 {
        border-color: $j-blue;
        background-color: $j-blue;
        box-shadow: 10px 10px rgba($j-blue, .7);
      }

      &.index-2 {
        border-color: $j-pink-darker;
        background-color: $j-pink-darker;
        box-shadow: 10px 10px rgba($j-pink-darker, .7);
      }

      &.index-3 {
        border-color: $j-red;
        background-color: $j-red;
        box-shadow: 10px 10px rgba($j-red, .7);
      }

      &.index-4 {
        border-color: $j-plum;
        background-color: $j-plum;
        box-shadow: 10px 10px rgba($j-plum, .7);
      }

      @media (hover: hover) {
        &:hover {
          cursor: $j-pointer, pointer;
          scale: 1.02;
        }
      }

      a {
        display: table;
        width: 100%;
        text-decoration: none;

        div {
          display: table-cell;
          cursor: $j-pointer, pointer;

          & > * {
            cursor: $j-pointer, pointer;
          }

          &.text {
            padding: 25px;
            color: #fff;

            h2 {
              margin: 0;
              margin-bottom: 10px;
              font-size: 30px;
              font-weight: 500;
            }

            p {
              font-weight: 100;

              &.description {
                font-size: 20px;
              }

              &.date {
                position: absolute;
                bottom: 25px;
                margin: 0;
                font-size: 18px;
              }
            }
          }

          &.image {
            width: 360px;
            border-radius: 0 20px 20px 0;

            img {
              position: absolute;
              right: 0;
              height: 100%;
              border-radius: inherit;
            }
          }
        }
      }
    }

    p.more {
      padding: 20px 0;
      font-size: 28px;
      opacity: $j-dark-opacity;
    }
  }
}

@media only screen and (max-width: 1100px) {
  section.resources .container {
    div.parent {
      height: unset;
      margin: 3% auto;

      a div {
        display: block;

        &.text {
          box-sizing: border-box;

          p.date {
            position: unset;
          }
        }

        &.image {
          display: flex;
          width: 100%;
          border-radius: 0 0 20px 20px;

          img {
            position: unset;
            right: unset;
            width: 100%;
            height: unset;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  section.resources .container {
    div.parent {
      margin: 5% auto;

      a div {
        display: block;

        &.text {
          box-sizing: border-box;

          hr {
            display: none;
          }

          p.description {
            display: none;
          }
        }
      }
    }
  }
}
