@import 'common';

section.glaze-additive-combo-generator {

  div.content {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;

    h2 {
      margin-top: 0;
      font-size: 30px;
      font-weight: 500;
    }

    div.column {
      width: 50%;
      margin: 0 20px 20px;

      div.container {
        background-color: $j-gray;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        table {
          width: 100%;

          thead th {
            text-align: left;
            padding: 0 20px;
            &.minus {
              width: 35px;
            }

            &.material {
              width: 75%;
            }

            &.maximum {
              width: 25%;
            }
          }

          tbody tr td {
            vertical-align: top;

            & > * {
              padding: 10px;
              box-sizing: border-box;
            }

            div.input-container {
              padding: 10px;
              box-sizing: border-box;

              input {
                width: 100%;
                border-radius: 10px;
                padding: 10px;
                box-sizing: border-box;
              }
            }
            
            p {
              display: none;
            }

            &.invalid {
              input {
                border: 2px solid $j-red;
              }

              p {
                display: block;
                font-size: 10px;
                color: $j-red;
                margin: 0;
                margin-left: 10px;
                padding: 0;
            }
          }

            button.plus, button.minus {
              width: 35px;
              height: 35px;
              border-radius: 17.5px;
              font-size: 20px;
              padding: 0;
              background-color: #fff;
              border: none;
              box-shadow: 0 0 0 #000;
              transition: box-shadow .3s, scale .3s, opacity .3s;
              scale: 1;
              opacity: .7;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                box-shadow: 0 0 3px #000;
                scale: 1.06;
                opacity: 1;
              }
            }

            button.minus {
              background-color: $j-red;
              border: 1px solid #ad3139;
              color: #fff;
              margin-top: 15.5px;
            }

            button.plus {
              background-color: $j-teal;
              border: 1px solid #03786a;
              color: #fff;
            }
          }
        }

        .calculate.button {
          margin-top: 25px;
          background-color: $j-teal;
          border-color: #03786a;
          color: white;

          @media (hover: hover) {
            &:hover {
              box-shadow: 0 0 5px rgba(#000, .5);
            }
          }
        }
      }

      &.result div.container {
        align-items: unset;

        h3 {
          margin-bottom: 10px;    
          // padding-bottom: 4px;
          // padding-left: 15px;
          // padding-right: 15px;
          // border-radius: 20px;
          // background: #000;
          // color: #fff;
          // font-size: 22px;
          // font-weight: 400;
          // width: max-content;
        }

        table {
          padding-bottom: 20px;
          // padding-left: 15px;

          &:not(:last-child) {
            border-bottom: 1px solid #000;
          }

          thead th {
            padding: unset;
            white-space: nowrap;
            padding-right: 20px;

            &.material {
              width: min-content;
            }

            &.maximum {
              width: 100%;
            }
          }

          tbody tr td.material {
            white-space: nowrap;
            padding-right: 50px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  section.glaze-additive-combo-generator {
    div.content {
      flex-direction: column;
  
      div.column {
        width: unset;
        margin: 0 0 40px;

        div.container {
  
          table {
  
            thead th {
              padding: 0 15px;
              &.minus {
                width: 30px;
              }
            }
  
            tbody tr td {
              // vertical-align: top;
  
              // & > * {
              //   padding: 10px;
              //   box-sizing: border-box;
              // }
  
              button.plus, button.minus {
                width: 30px;
                height: 30px;
                border-radius: 15px;
              }
  
              button.minus {
                margin-top: 13px;
              }
            }
          }
        }
      }
    }
  }
}