@import 'common';

section.make-your-own-jewelry-enamel {
    div.preview {
        background-image: url("../../public/images/resources/previews/make-your-own-jewelry-enamel.png");
    }

    div.image-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    ul span{
        display: block;
    }

    a.spotlight {
        color: #000;
        text-decoration: none;
    }

    img {
        max-width: 100%;
        max-height: 500px;
    }

    div.image-container div, 
    div.enamel {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
    }

    div.enamel img {
        width: 100px;
    }
}
