@import 'common';

section.periodic-table-for-potters {
  div.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

    img.document {
      display: block;
      width: 100%;
      box-shadow: 0 0 15px rgb(#000, 15%);
    }
  }
}
