@import 'common';

section.periodic-table-for-potters {
  div.container {
    display: flex;
    flex-direction: column;
    padding: 0 30px 30px;

    div.description {
      padding-bottom: 30px;

      h1 {
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 500;
      }

      p {
        font-size: 20px;
        font-weight: 300;
      }
    }

    img.document {
      display: block;
      width: 100%;
      box-shadow: 0 0 15px rgb(#000, 15%);
    }
  }
}
