@import 'common';

section.resources {
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;

    div.parent {
      box-sizing: border-box;
      width: calc(100% / 3);
      padding: 25px;

      a {
        text-decoration: none;

        div.content {
          position: relative;
          transition: scale 0.5s;
          border-width: 3px;
          border-style: solid;
          border-radius: 23px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-decoration: none;
          height: 100%;

          &.index-0 {
            border-color: $j-teal;
            background-color: $j-teal;
            box-shadow: 10px 10px rgba($j-teal, .7);
          }

          &.index-1 {
            border-color: $j-blue;
            background-color: $j-blue;
            box-shadow: 10px 10px rgba($j-blue, .7);
          }

          &.index-2 {
            border-color: $j-purple;
            background-color: $j-purple;
            box-shadow: 10px 10px rgba($j-purple, .7);
          }

          &.index-3 {
            border-color: $j-plum;
            background-color: $j-plum;
            box-shadow: 10px 10px rgba($j-plum, .7);
          }

          &.index-4 {
            border-color: $j-red;
            background-color: $j-red;
            box-shadow: 10px 10px rgba($j-red, .7);
          }
          
          &.index-5 {
            border-color: $j-pink-darker;
            background-color: $j-pink-darker;
            box-shadow: 10px 10px rgba($j-pink-darker, .7);
          }

          @media (hover: hover) {
            &:hover {
              cursor: $j-pointer, pointer;
              scale: 1.02;
            }
          }

          div {
            cursor: $j-pointer, pointer;
            display: block;

            & > * {
              cursor: $j-pointer, pointer;
            }

            &.text {
              margin: 25px;
              color: #fff;
              box-sizing: border-box;
              height: 100%;
              position: relative;

              h2 {
                margin: 0;
                margin-bottom: 10px;
                font-size: 28px;
                font-weight: 500;
              }

              p {
                font-weight: 200;

                &.description {
                  font-size: 20px;
                  margin-bottom: 45px;
                }

                &.date {
                  margin: 0;
                  font-size: 16px;
                  position: absolute;
                  bottom: 0;
                }
              }
            }

            &.image {
              display: flex;
              width: 100%;
              border-radius: 0 0 20px 20px;

              img {
                top: 0;
                width: 100%;
                border-radius: inherit;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  section.resources .container div.parent {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  section.resources .container div.parent {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  section.resources .container {
    padding: 3%;

    div.parent  {
      a div.content div.text {
        hr {
          display: none;
        }

        p {
          &.description {
            display: none;
          }

          &.date {
            position: unset;
          }
        }
      }
    }
  }
}
