body {
    margin: 0;
}

main {
    top: 70px;
    width: 100%;
    position: relative;
    display: flex;
}

section.glazes {
    margin-right: 0;
    transition: margin-right 1s;
}

main.aside-enabled section.glazes {
    margin-right: 400px;
}

aside {
    position: fixed;
    width: 400px;
    height: calc(100vh - 70px);
    background: #F3F3F3;
    transition: left 1s;
    font-family: 'sofia-pro';
    overflow-y: auto;
    right: -400px;
    transition: right 1s;
}

main.aside-enabled aside {
    right: 0;
}

/* Nav */
header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 8px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 4px 28px 0px #00000040;
    z-index: 1;
    background: white;
}

header a {
    display: flex;
}

header a img {
    width: 50px;
}

nav {
    width: 100%;
    position: fixed;
    left: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: unset;
}

nav li {
    list-style-type: none;
    margin: 0 4%;
    font-size: 25px;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav li:hover, nav li.selected {
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
}

/* Glazes */

section.glazes {
    width: 100%;
}

.glazes .container {
    width: 96%;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, max-content));
    padding: 2%;
    pointer-events: none;
}

.glazes .container img {
    width: 190px;
    min-height: 190px;
    margin: 35px 15px;
    pointer-events: auto;
    transition: opacity 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.08, 0.97);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    justify-self: center;
    padding: 15px 0;
}

/* main.aside-enabled .glazes .container img {
    opacity: 50%;
} */

main.aside-enabled .glazes .container img.selected {
    opacity: 100%;
    cursor: pointer;
    border-bottom: 4px solid black;
}

.glazes .container img:hover {
    opacity: 100%;
    cursor: pointer;
    border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

main.aside-enabled .glazes .container img:hover {
    opacity: 100%;
    cursor: pointer;
}

/* Sidebar */

.sidebar .container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

.sidebar button.close-button {
    position: fixed;
    top: 80px;
    right: -45px;
    width: 30px;
    padding: unset;
    opacity: 40%;
    background: unset;
    border: none;
    color: black;
    font-family: Arial Rounded MT Bold;
    font-size: 30px;
    transition: opacity 0.2s, right 1s;
}

main.aside-enabled .sidebar button.close-button {
    right: 355px;
}

.sidebar button.close-button:hover {
    opacity: 70%;
    cursor: pointer;
}

.sidebar .container img {
    width: 200px;
    align-self: center;
    padding-bottom: 30px;
}

.sidebar .container h2 {
    font-weight: 400;
    font-size: 22px;
    background: black;
    color: white;
    border-radius: 20px;
    padding-left: 15px;
    padding-bottom: 4px;
}

.sidebar .container p, .sidebar .container table {
    font-weight: 300;
    font-size: 20px;
    padding-left: 12px;
    margin: 0;
    padding-bottom: 10px;
}

.recipe tr.add {
    margin-top: 10px;
    display: block;
    font-size: 15px;
}